html, body{
    height: 90%;
}
html{
    background: rgb(144, 210, 253); 
}
h1{
    color: white;
    background-color: rgb(15, 85, 117);
    text-align: center;
    height: 110px;
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 100px;
}
h2{
    color: white;
    background-color: white;
    text-align: center;
    height: 40px;
    font-size: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 40px;
    
}
p{
    text-align: center;
    font-size: 30px;
}

#input-box-vards,
#input-box-parole{
    grid-area: input-box-vards;
    display: grid;
    align-items: center;
    padding: 0 660px;
    margin-bottom: 20px;
    

}

#input-box-search-result{
    grid-area: input-box-search-result;
    display: grid;
    padding-left: 20px;
    padding-right: 1100px;
    padding-top: 20px;
}
#input-box-search-result input{
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 300px;
}
#input-box-search-result input::placeholder{
    padding-left: 32px;
}

#input-box-search{
    grid-area: input-box-search;
    display: grid;
    padding: 0 610px;
    align-items: center;
}
#input-box-search input{
    height: 30px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}
#input-box-search input::placeholder{
    padding-left: 32px;
}
#button-search, 
#button-search-result{
    background-color: rgb(36, 36, 253);
    color: white;
    font-size: 17px;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(36, 36, 253);
    width: 70px;
}

#button-search{
    width: 70px;
    display: grid;
    grid-area: button-search;
}

#button-search-result{
    display: grid;
    grid-area: button-search-result;

}


#search-img{
    position: absolute;
    width: 29px;
    height: 30px;
}

#result{
    display: grid;
    grid-area: result;
    background-color: white;
    width: 1470px;
    height: 430px;
    margin-left: 25px;

}

#input-box-vards input{
    border-radius: 5px;
    height: 27px;
    font-size: 15px;
    border: none;
}
#input-box-parole input{
    border-radius: 5px;
    height: 27px;
    font-size: 15px;
    border: none;
}
#input-box-vards input::placeholder{
    padding-left: 10px;
}
#input-box-parole input::placeholder{
    padding-left: 10px;
}
#button-sakums{
    display: grid;
    grid-area: button-sakums;
    background-color: rgb(36, 36, 253);
    color: white;
    border: 1px solid rgb(36, 36, 253);
    font-size: 17px;
    padding: 10px 0;
    border-radius: 5px;
    width: 80px;
    font-size: 14px;
    margin-left: 719px;
    margin-top: 10px;
}
#button-konts{
    display: grid;
    grid-area: button-konts;
    background-color: rgb(36, 36, 253);
    color: white;
    border: 1px solid rgb(36, 36, 253);
    font-size: 15px;
    padding: 10px 0;
    border-radius: 5px;
    width: 170px;
    font-size: 14px;
    margin-left: 675px;
    margin-top: 30px;
}

#car-img{
    height: 150px;
    width: 200px;
    margin-top: 90px;
    margin-left: 660px;

}
#ceka-lauks{
    display: grid;
    grid-area: ceka-lauks;
    background-color: rgb(179, 178, 178);
    width: 600px;
    height: 250px;
    margin-left: 460px;
    margin-top: 100px;
}

#button-drukat{
    background-color: white;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px 0;
    width: 100px;
    font-size: 16px;
    margin-left: 400px;
    margin-top: 30px;
    border: 1px solid white;
    float: left;
}
#button-labot{
    background-color: white;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px 0;
    width: 100px;
    font-size: 16px;
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid white;
    float: left;
}
#button-atcelt{
    background-color: white;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px 0;
    width: 100px;
    font-size: 16px;
    margin-left: 230px;
    margin-top: 30px;
    border: 1px solid white;
    float: left;
}
#button-pabeigt{
    background-color: white;
    border-radius: 3px;
    font-size: 15px;
    padding: 7px 0;
    width: 150px;
    font-size: 16px;
    margin-left: 1175px;
    margin-top: 10px;
    border: 1px solid white;
}

#reg{
    background-color: white;

}
#ievade input{
    height: 30px;
    display: block;
    margin-top: 50px;
    margin-left: 650px;
    width: 300px;
}
