html{
    background-color: #BAE6FF ;
}

.blueBg {
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #25678C;
}

.autonoma {
    position: absolute;
    width: 304px;
    height: 84px;
    left: 600px;
    top: -34.5px;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    font-family: Roboto-regular;
    font-weight: bold;
}

.img {
    position: absolute;
    width: 113px;
    height: 107px;
    left: 410px;
    top: 12px;
}

.img#second {
    position: absolute;
    left: 960px;
}

.whiteBg {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 130px;
    background: #FFFFFF;
}

.newKonta {
    position: absolute;
    color: #25678C;
    font-size: 40px;
    font-family: Roboto;
    top: -31px;
    left: 636px;
    font-weight: bold;
}

.one {
    position: absolute;
    width: 235px;
    height: 47px;
    background: #FFFFFF; 
    top: 280px;
    left: 150px;
}

.two {
    position: absolute;
    width: 235px;
    height: 47px;
    background: #FFFFFF; 
    top: 345px;
    left: 150px;
}

.three {
    position: absolute;
    width: 235px;
    height: 47px;
    background: #FFFFFF; 
    top: 410px;
    left: 150px;
}

.four {
    position: absolute;
    width: 235px;
    height: 47px;
    background: #FFFFFF; 
    top: 475px;
    left: 150px;
}

.saraksts {
    position: absolute;
    height: 45px;
    width: 360px;
    left: 300px;
    border: none;
    padding-inline-start: 10px;
    font-size: 20px;
    outline: none;
    outline-offset: none;
    top: 0px;
}

.vards {
    position: absolute;
    font-family: Roboto-regular;
    font-style: normal;
    font-size: 25px;
    top: -19px;
    left: 81px;
    color: #000000;
}

.uzvards {
    position: absolute;
    font-family: Roboto-regular;
    font-style: normal;
    font-size: 25px;
    top: -19px;
    left: 70px;
    color: #000000;   
}

.epasts {
    position: absolute;
    font-family: Roboto-regular;
    font-style: normal;
    font-size: 25px;
    top: -19px;
    left: 73px;
    color: #000000;   
}

.parole {
    position: absolute;
    font-family: Roboto-regular;
    font-style: normal;
    font-size: 25px;
    top: -19px;
    left: 76px;
    color: #000000;   
}

.accept {
    position: absolute;
    width: 444px;
    height: 42px;
    font-family: Roboto-regular;
    font-weight: 200;
    font-size: 23px;
    line-height: 42px;
    top: 543px;
    left: 500px;
}

.check {
    position: absolute;
    width: 42px;
    height: 42px;
    background: #FFFFFF;
    top: 563px;
    left: 815px;
}

.vkonta {
    position: absolute;
    width: 280px;
    height: 70px;
    background: #0063F9;
    border-radius: 15px;
    font-family: Roboto-regular;
    font-size: 25px;
    color: #FFFFFF;
    outline: none;
    outline-offset: none;
    border: none;
    top: 637px;
    left: 562px;
    font-weight: 500;
    cursor: pointer;
}

.logo {
    position: absolute;
    width: 300px;
    height: 383x;
    left: 970px;
    top: 230px;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.ttf)
}

@font-face {
    font-family: 'Roboto-regular';
    src: url(fonts/Roboto-Regular.ttf)
}