html{
    background-color: #BAE6FF ;
    width: 100%;
}

.blueBg {
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #25678C;
}

.autonoma {
    position: absolute;
    width: 304px;
    height: 84px;
    left: 600px;
    top: -34.5px;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    font-family: Roboto-regular;
    font-weight: bold;
}

.img {
    position: absolute;
    width: 113px;
    height: 107px;
    left: 410px;
    top: 12px;
}

.img#second {
    position: absolute;
    left: 960px;
}

.whiteBg {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 130px;
    background: #FFFFFF;
}

.seacrh {
    position: absolute;
    color: #25678C;
    font-size: 40px;
    font-family: Roboto-regular;
    top: -30px;
    left: 690px;
    font-weight: bold;
}

.serbox {
    position: absolute;
    width: 393px;
    height: 61px;
    left: 20px;
    top: 215px;
    background: #FFFFFF;
    border-radius: 43px;
    outline: none;
    outline-offset: none;
    border: none;
    padding-inline-start: 80px;
    font-size: 30px;
}

.btn {
    position: absolute;
    width: 116px;
    height: 58px;
    left: 440px;
    top: 215px;
    background: #0063F9;
    border-radius: 15px;
    font-family: Roboto-thin;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: white;
    outline: none;
    outline-offset: none;
    border: none;
    cursor: pointer;
}

.loupe {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 50px;
    top: 227px;
}

.whiteBox {  
    position: absolute;
    width: 1360px;
    height: 601px;
    left: 37px;
    top: 295px;
    background: #FFFFFF;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.ttf)
}

@font-face {
    font-family: 'Roboto-regular';
    src: url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(fonts/Roboto-Thin.ttf)
}