.login {
    margin-top: 50px;
    text-align: center;
}

.flash {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

form input{
    margin-bottom: 5px;
}

.register {
    margin-top: 5px;
}

.logo {
    margin-bottom: 10px;
}

.logo h1 {
    font-weight: normal;
}