* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration:none;
    list-style-type: none;
}

body {
    background-color: #BAE6FF;
}

.white {
    background-color: white;
    height: 50px;
    line-height:50px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 30px;
    color: #25678C; 
}

.logined {
    float: right;
}

.nav-bar {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border: none;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    background-color: #25678C;
    color: white;
    font-size: 16px;
}

#header {
    font-size: 25px;
}

.nav-bar ul li {
    margin-left: 15px;
}

.nav-bar ul li a{
    color: rgb(255, 255, 255);
}

.nav-bar ul li a:hover{
    color: rgba(204, 204, 204, 0.7);
}