html{
    background-color: #BAE6FF ;
    height: 960px;
}

.blueBg {
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #25678C;
}

.autonoma {
    position: absolute;
    width: 304px;
    height: 84px;
    left: 600px;
    top: -34.5px;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    font-family: Roboto-regular;
    font-weight: bold;
}

.img {
    position: absolute;
    width: 113px;
    height: 107px;
    left: 410px;
    top: 12px;
}

.img#second {
    position: absolute;
    left: 960px;
}

.whiteBg {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 130px;
    background: #FFFFFF;
}

.search {
    position: absolute;
    color: #25678C;
    font-size: 40px;
    font-family: Roboto-regular;
    top: -30px;
    left: 678px;
    font-weight: bold;
}


.whiteBox {  
    position: absolute;
    height: 601px;
    left: 37px;
    right: 37px;
    top: 295px;
    background: #FFFFFF;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.ttf)
}

@font-face {
    font-family: 'Roboto-regular';
    src: url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(fonts/Roboto-Thin.ttf)
}