.container {
    margin-top: 50px;
    text-align: center;
}

.label {
    display: inline-block;
    width: 250px;
    height:45px;
    line-height: 45px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    font-size: 18px;
}

.info {
    display: inline-block;
    width: 350px;
    height:45px;
    line-height: 45px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    font-size: 18px;
}

.n1 {
    font-size: 22px;
    font-weight: 600;
}