<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
        <title>Admin</title>
    </head>
    
    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="{{url_for('static', filename='mobile.png')}}" class="img">
            <img src="{{url_for('static', filename='mobile.png')}}" class="img" id="second">
        </div>

        <div class="whiteBg">
            <p class="administrators">Administrators</p>
        </div>

        <div>
            <div class="box" id="one">
               <p class="nomasp">Nomas punkts</p> 
               <select id="style" onchange="filter_changed()">
                 <option value="">Nomas punkts: </option>
                 <option>Rīga</option>
                 <option>Liepāja</option>
                 <option>Jūrmala</option>
                 <option>Ogre</option>
               </select>
            </div>
               
            <div class="box" id="two">
                <p class="marka">Marka</p>
                <select id="style" onchange="filter_changed()">
                    <option value="">Marka: </option>
                    <option>BMW</option>
                    <option>Audi</option>
                    <option>Opel</option>
                    <option>Wolkswagen</option>
                </select>
            </div>
            <div class="box" id="three">
                <p class="modelis">Modelis</p>
                
            </div>
            <div class="box" id="four">
                <p class="gads">Gads</p>
                <select id="style" onchange="filter_changed()">
                    <option value="">Gads: </option>
                    <option>2003</option>
                    <option>2006</option>
                    <option>2008</option>
                    <option>2009</option>
                </select>
            </div>
            <div class="box" id="five">
                <p class="cena">Cena</p>
            </div>

            <div class="box" id="six">
                <a href="#">
                    <img src="{{url_for('static', filename='triangle.png')}}" class="tria">
                </a>
            </div>
            <div class="box" id="seven">
                <a href="#">
                    <img src="{{url_for('static', filename='triangle.png')}}" class="tria">
                </a>
            </div>
            <div class="box" id="eight">
                <a href="#">
                    <img src="{{url_for('static', filename='triangle.png')}}" class="tria">
                </a>
            </div>
            <div class="box" id="nine">
                <a href="#">
                    <img src="{{url_for('static', filename='triangle.png')}}" class="tria">
                </a>
            </div>
            <div class="box" id="ten">
                <div class="tria" id="trfive">
                </div>
            </div>
        </div>

        <div class="whitebox">  
            <p class="ja">Jūsu automobīļi</p>
        </div>

        <div class="greybox">
            <p class="auto">Automobils</p>
            <p class="auto" id="seconda">Automobils</p>
            <p class="rezerv" id="random-number">Klienta rezervacijas nr.</p>
            <p class="navrezerv">Nav rezervets</p>
            <input type="button" value="Labot" class="btn">
            <input type="button" value="Labot" class="btn" id="secondb">
        </div>

        <div class="whitebox" id="secondc">  
            <p class="ien">Ienākumi :</p>
        </div>

        <div class="greybox" id="secondd">

        </div>

        <input type="button" value="Pievienot" class="piev">
        <a href="/sakums" {% if active_page == 'sakums' %} class='active' {% endif %}>
            <input type="button" value="Atcelt" class="piev" id="seconde">
        </a>
        <img src="{{url_for('static', filename='jeep.png')}}" class="logo">
        <script type="text/javascript" src="dp21-4grupa_autonoma\custom.js"></script>
    </body> 
</html>