{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <div class="white"></div>
    <div class="login">
        <div class="logo">
            <h1>Labdien! Esiet sveicināti Autonomā!</h1>
        </div>
        <form action="" method="POST">
            <p>Ieiet</p>
            <div class="flash">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for msg in messages %}
                      <p>{{msg}}</p>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            <input type="text" name="login" placeholder="E-mail or Login" class="input"><br>
            <input type="password" name="password" placeholder="Password" class="input"><br>
            <input type="submit" value="Login" id="button">
        </form>
        <div class="register">
            <p>Jūs varat reģistrēt jaunu kontu</p>
            <a href="/register">Sākt</a>
        </div>
    </div>
{% endblock %}