<!DOCTYPE html>
<html>
    <head>
        <title>Klients</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/klients.css') }}">
    </head>

    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="{{url_for('static', filename='mobile.png')}}" class="img">
            <img src="{{url_for('static', filename='mobile.png')}}" class="img" id="second">
        </div>

        <div class="whiteBg">
            <p class="klients">Klients</p>
        </div>

        <div>
            <div class="saraksts" id="a">
                <p class="list" id="vards">Vards</p>
            </div>
            <div class="saraksts" id="b">
                <p class="list" id="nomasp">Nomas punkts</p>
                <select id="style" onchange="filter_changed()">
                    <option value="">Nomas punkts: </option>
                    <option>Rīga</option>
                    <option>Liepāja</option>
                    <option>Jūrmala</option>
                    <option>Ogre</option>
                </select>
            </div>
            <div class="saraksts" id="c">
                <p class="list" id="marka">Marka</p>
                <select id="style" onchange="filter_changed()">
                    <option value="">Marka: </option>
                    <option>BMW</option>
                    <option>Audi</option>
                    <option>Opel</option>
                    <option>Wolkswagen</option>
                </select>
            </div>
            <div class="saraksts" id="d">
                <p class="list" id="model">Modelis</p>
                <select id="style" onchange="filter_changed()">
                    <option value="">Modelis: </option>
                    <option>A4</option>
                    <option>A5</option>
                    <option>X5 (E53)</option>
                    <option>X6</option>
                    <option>Zafira</option>
                    <option>Astra</option>
                    <option>Golf</option>
                    <option>Passat (B5)</option>
                </select>
            </div>
            <div class="saraksts" id="e">
                <p class="list" id="gads">Gads</p>
                <select id="style" onchange="filter_changed()">
                    <option value="">Gads: </option>
                    <option>1999</option>
                    <option>2003</option>
                    <option>2006</option>
                    <option>2008</option>
                    <option>2009</option>
                </select>
            </div>
            <div class="saraksts" id="f">
                <p class="list" id="sakums">Sākums</p>
            </div>
            <div class="saraksts" id="g">
                <p class="list" id="beigas">Beigas</p>
            </div>
            <div class="saraksts" id="h">
                <p class="list" id="rezervacija">Rezervācijas Nr. </p>
            </div>

            <div class="table">
                <input type="text" class="text" id="A">
            </div>
            <div class="table">
                <input type="text" class="text" id="B">
            </div>
            <div class="table">
                <input type="text" class="text" id="C">
            </div>
            <div class="table">
                <input type="text" class="text" id="D">
            </div>
            <div class="table">
                <input type="text" class="text" id="E">
            </div>
            <div class="table">
                <input type="text" class="text" id="F">
                <p style="color: black;">(dd.mm.gggg hh:mm)</p>
            </div>
            <div class="table">
                <input type="text" class="text" id="G">
                <p style="color: black;">(dd.mm.gggg hh:mm)</p>
            </div>
            <div class="table">
                <input type="text" class="text" id="H"> <!--+Generate random-->
            </div>
        </div>
        <a href="/results" {% if active_page == 'sakums' %} class='active' {% endif %}>
            <input type="button" value="Apstiprināt" class="aps">
        </a>

        <div>
            <p class="accept">Piekrītu visiem līguma noteikumiem</p>
            <input type="checkbox" class="check">
        </div>

        <img src="{{url_for('static', filename='jeep.png')}}" class="logo">
    </body>
</html>