<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
    {% block link %}{% endblock %}
    <title>Autonoma</title>
</head>
<body>
    <div class="nav-bar">
        <h4 id="header">Autonoma</h4>
        <ul>
            <li><a href="/">Login</a></li>
        </ul>
        <ul>
            <li><a href="/register">Reģistrācija</a></li>
        </ul>
        <ul>
            <li><a href="/panel">Panelis</a></li>
        </ul>
        <ul>
            <li><a href="/cars">Mašīnas</a></li>
        </ul>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <ul>
            <li><div class="logined">
                <p>Labdien: {{user_text}}!</p>
            </li></div>
        </ul>
    </div>
    {% block body %}{% endblock %}
</body>
</html>