{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/getData-admin.js') }}"></script>
{% endblock %}

{% block body %}
<div class="form">
    <form action="" method="POST">
        <div class="flash">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for msg in messages %}
                  <p>{{msg}}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
        <label>Nomas punkts: </label><br>
        <input size="50" placeholder="Riga" type="text" name="place"><br>
        <label>Marka: </label><br>
        <input size="50" placeholder="BMW" type="text" name="marka"><br>
        <label>Modelis: </label><br>
        <input size="50" placeholder="X5" type="text" name="model"><br>
        <label>Gads: </label><br>
        <input size="50" placeholder="2008" type="text" name="year"><br>
        <label>1x1 Image: </label><br>
        <input size="50" placeholder="www.exampla.com/example.png" type="text" name="img"><br>
        <input size="50" type="submit" value="Submit">
    </form>
</div>

<div class="ul">
  <ul id="posts">
  </ul>
</div>
{% endblock %}