{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="white"></div>
    <div class="register">
        <div class="logo">
            <h1>Sāksim!</h1>
        </div>
        <form action="" method="POST">
            <p>Registrācija</p>
            <div class="flash">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for msg in messages %}
                      <p>{{msg}}</p>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            <input type="text" name="login" placeholder="E-mail" class="input"><br>
            <input type="text" name="name" placeholder="Name" class="input"><br>
            <input type="password" name="password" placeholder="Password" class="input"><br>
            <input type="submit" value="Izveidot kontu" id="button">
        </form>
    </div>
{% endblock %}