<!DOCTYPE html>
<html>
    <head>
        <title>Sakums</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sakums.css') }}">
    </head>
    
    <body>
        <div>
            <div class="blueBg">
            <img class="img" src="{{url_for('static', filename='mobile.png')}}">
                <h1 class="Autonoma">Sākums</h1>
            <img class="img" id="second" src="{{url_for('static', filename='mobile.png')}}">
            </div>

            <div class="whiteBg"></div>

            <div class="mintBg">
                <p class="Ieiet">Ieiet</p>
                <form>
                    <input type="text" placeholder="Lietotāja vards" class="logIn">
                    <input type="password" placeholder="Parole" class="logIn" id="parole">
                    <a href="/admin" {% if active_page == 'sakums' %} class='active' {% endif %}>
                        <input type="button" value="Ok" class="button" id="button-ok">
                    </a>
                    <input type="button" value="Izveidot jaunu kontu" class="button" id="konta" onclick="ijk"> 
                </form>
                <img src="{{url_for('static', filename='jeep.png')}}" class="logo">
            </div>
        </div>
        <a href="/register" {% if active_page == 'sakums' %} class='active' {% endif %}>
            <input type="button" value="Izveidot jaunu kontu" class="button" id="konta">
        </a>
        <script type="text/javascript" src="dp21-4grupa_autonoma\custom.js"></script>
    </body>
</html>