{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/who-customer.css') }}">
{% endblock %}

{% block body %}
<div class="white"></div>
<div class="container">
    <div class="label n1">User who buy a car:</div>
    <div class="info n1">{{car}}</div><br>
    <div class="label">Name:</div>
    <div class="info">{{name}}</div><br>
    <div class="label">Email:</div>
    <div class="info">{{email}}</div><br>
</div>
{% endblock %}