<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
        <title>Admin</title>
    </head>
    
    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="{{url_for('static', filename='mobile.png')}}" class="img">
            <img src="{{url_for('static', filename='mobile.png')}}" class="img" id="second">
        </div>

        <div class="whiteBg">
            <p class="administrators">Administrators</p>
        </div>

        <div>
            <div class="box" id="one">
               <p class="nomasp">Nomas punkts</p> 
            </div>
            <div class="box" id="two">
                <p class="marka">Marka</p>
            </div>
            <div class="box" id="three">
                <p class="modelis">Modelis</p>
            </div>
            <div class="box" id="four">
                <p class="gads">Gads</p>
            </div>
            <div class="box" id="five">
                <p class="cena">Cena</p>
            </div>

            <div class="box" id="six">
                <a href="#">
                    <img src="images/triangle.png" class="tria">
                </a>
            </div>
            <div class="box" id="seven">
                <a href="#">
                    <img src="images/triangle.png" class="tria">
                </a>
            </div>
            <div class="box" id="eight">
                <a href="#">
                    <img src="images/triangle.png" class="tria">
                </a>
            </div>
            <div class="box" id="nine">
                <a href="#">
                    <img src="images/triangle.png" class="tria">
                </a>
            </div>
            <div class="box" id="ten">
                <div class="tria" id="trfive">
                </div>
            </div>
        </div>

        <div class="whitebox">  
            <p class="ja">Jūsu automobīļi</p>
        </div>

        <div class="greybox">
            <p class="auto">Automobils</p>
            <p class="auto" id="seconda">Automobils</p>
            <p class="rezerv">Klienta rezervacijas nr.</p>
            <p class="navrezerv">Nav rezervets</p>
            <input type="button" value="Labot" class="btn">
            <input type="button" value="Labot" class="btn" id="secondb">
        </div>

        <div class="whitebox" id="secondc">  
            <p class="ien">Ienākumi :</p>
        </div>

        <div class="greybox" id="secondd">

        </div>

        <input type="button" value="Pievienot" class="piev">
        <input type="button" value="Atcelt" class="piev" id="seconde">

        <img src="images/jeep.png" class="logo">
    </body>
</html>