<!DOCTYPE html>
<html>
    <head>
        <title>Beigas</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/beigas.css') }}">
    </head>

    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="{{url_for('static', filename='mobile.png')}}" class="img">
            <img src="{{url_for('static', filename='mobile.png')}}" class="img" id="second">
        </div>

        <div class="whiteBg">
            
        </div>

        <img src="{{url_for('static', filename='paldiesParSadarbibu.png')}}" class="paldies">
        <img src="{{url_for('static', filename='jeep.png')}}" class="logo">
    </body>
</html>