<!DOCTYPE html>
<html>
    <head>
        <title>Beigas</title>
        <meta charset="UTF-8">
        <link href="css/beigas.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="images/mobile.png" class="img">
            <img src="images/mobile.png" class="img" id="second">
        </div>

        <div class="whiteBg">
            
        </div>

        <img src="images/paldiesParSadarbibu.png" class="paldies">
        <img src="images/jeep.png" class="logo">
    </body>
</html>