<!DOCTYPE html>
<html>
    <head>
        <title>Check</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/check.css') }}">
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="{{url_for('static', filename='mobile.png')}}" class="img">
            <img src="{{url_for('static', filename='mobile.png')}}" class="img" id="second">
        </div>

        <div class="whiteBg">
            <p class="kt">Ko tālāk?</p>
        </div>

            <input type="button" value="Drukāt" class="drukat">
            <a href="/klients" {% if active_page == 'sakums' %} class='active' {% endif %}>
                <input type="button" value="Labot" class="labot">
            </a>
    
            <a href="/" {% if active_page == 'sakums' %} class='active' {% endif %}>
                <input type="button" value="Atcelt" class="atcelt">
            </a>
            

        <div class="greyBox">

        </div>

        <img src="{{url_for('static', filename='jeep.png')}}" class="logo">
        <a href="/beigas" {% if active_page == 'sakums' %} class='active' {% endif %}>
            <input type="button" value="Pabeigt" class="pabeigt"> 
        </a>
    </body>
</html>