{% extends "check.html" %}

{% set active_page = 'check' %}

{% block saturs %}
<!DOCTYPE html>
<html>
    <head>
        <title>Check</title>
        <link href="css/check.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="images/mobile.png" class="img">
            <img src="images/mobile.png" class="img" id="second">
        </div>

        <div class="whiteBg">
            <p class="kt">Ko tālāk?</p>
        </div>

            <input type="button" value="Drukāt" class="drukat">
            <input type="button" value="Labot" class="labot">
            <input type="button" value="Atcelt" class="atcelt">

        <div class="greyBox">

        </div>

        <img src="images/jeep.png" class="logo">

        <input type="button" value="Pabeigt" class="pabeigt"> 
    </body>
</html>
{% endblock%}