{% extends "klients.html" %}

{% set active_page = 'klients' %}

{% block saturs %}
<!DOCTYPE html>
<html>
    <head>
        <title>Klients</title>
        <meta charset="UTF-8">
        <link href="css/klients.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="images/mobile.png" class="img">
            <img src="images/mobile.png" class="img" id="second">
        </div>

        <div class="whiteBg">
            <p class="klients">Klients</p>
        </div>

        <div>
            <div class="saraksts" id="a">
                <p class="list" id="vards">Vards</p>
            </div>
            <div class="saraksts" id="b">
                <p class="list" id="nomasp">Nomas punkts</p>
            </div>
            <div class="saraksts" id="c">
                <p class="list" id="marka">Marka</p>
            </div>
            <div class="saraksts" id="d">
                <p class="list" id="model">Modelis</p>
            </div>
            <div class="saraksts" id="e">
                <p class="list" id="gads">Gads</p>
            </div>
            <div class="saraksts" id="f">
                <p class="list" id="sakums">Sākums</p>
            </div>
            <div class="saraksts" id="g">
                <p class="list" id="beigas">Beigas</p>
            </div>

            <div class="table">
                <input type="text" class="text" id="A">
            </div>
            <div class="table">
                <input type="text" class="text" id="B">
            </div>
            <div class="table">
                <input type="text" class="text" id="C">
            </div>
            <div class="table">
                <input type="text" class="text" id="D">
            </div>
            <div class="table">
                <input type="text" class="text" id="E">
            </div>
            <div class="table">
                <input type="text" class="text" id="F">
            </div>
            <div class="table">
                <input type="text" class="text" id="G">
            </div>
        </div>

        <input type="button" value="Apstiprināt" class="aps">

        <div>
            <p class="accept">Piekrītu visiem līguma noteikumiem</p>
            <input type="checkbox" class="check">
        </div>

        <img src="images/jeep.png" class="logo">
    </body>
</html>
{% endblock%}