<!DOCTYPE html>
<html>
    <head>
        <title>Sakums</title>
        <meta charset="UTF-8">
        <link href="css/sakums.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div>
            <div class="blueBg">
            <img class="img" src="images/mobile.png">
                <h1 class="Autonoma">Sākums</h1>
            <img class="img" id="second" src="images/mobile.png">
            </div>

            <div class="whiteBg"></div>

            <div class="mintBg">
                <p class="Ieiet">Ieiet</p>
                <form>
                    <input type="text" placeholder="Lietotāja vards" class="logIn">
                    <input type="password" placeholder="Parole" class="logIn" id="parole">
                    <input type="button" value="Ok" class="button" id="button-ok">
                    <input type="button" value="Izveidot jaunu kontu" class="button" id="konta" onclick="ijk"> 
                </form>
                <img src="images/jeep.png" class="logo">
            </div>
        </div>
        <div id="users">

        </div>
    </body>
</html>