{% extends "search.html" %}

{% set active_page = 'search' %}

{% block saturs %}
<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <link href="css/search.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="images/mobile.png" class="img">
            <img src="images/mobile.png" class="img" id="second">
        </div>

        <div class="whiteBg">
            <p class="seacrh">Search</p>
        </div>

        <div class="mek">
            <p class="car">Pieejamais automobils:</p>
            <input type="search" class="serbox">
            <input type="button" value="Meklēt" class="btn">
            <img src="images/loupe.png" class="loupe">
        </div>

        <img src="images/jeep.png" class="logo">
    </body>
</html>
{% endblock%}