<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="blueBg">
            <p class="autonoma">Autonoma</p>
            <img src="{{url_for('static', filename='mobile.png')}}" class="img">
            <img src="{{url_for('static', filename='mobile.png')}}" class="img" id="second">
        </div>

        <div class="whiteBg">
            <p class="seacrh">Search</p>
        </div>

        <div class="mek">
            <p class="car">Pieejamais automobils:</p>
            <input type="search" class="serbox">
            <input type="button" value="Meklēt" class="btn">
            <img src="{{url_for('static', filename='loupe.png')}}" class="loupe">
        </div>

        <img src="{{url_for('static', filename='jeep.png')}}" class="logo">
    </body>
</html>